<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button (click)="onBack(nd)" defaultHref="/zakinfo"></ion-back-button>
        </ion-buttons>
    <ion-title>Информация о редакции</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="show" lines="none">
        <ion-item lines="none" text-wrap>
            <ion-label>Редакция: {{zakText.rd_list[0].date}}</ion-label>
        </ion-item>


        <ion-text>
            
                    <pre>{{text}}</pre>
          
        </ion-text>
        
        </ion-list>
</ion-content>
