<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/list"></ion-back-button>
    </ion-buttons>
    <ion-title>Информация о законе</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="show" lines="none">
        <ion-item lines="none" >
            <ion-label text-wrap>{{zak.name}}</ion-label>
        </ion-item>


          <ion-item>
              <ion-text (click)="toggle2 = !toggle2">
                  Сравнить редакции
              </ion-text>
          </ion-item>
          <ion-list [hidden]="!toggle2">
            <ion-item>
              <ion-label>Первый</ion-label>
              <ion-select [interfaceOptions]="customOptions" interface="action-sheet" placeholder="Первый" [(ngModel)]="f">
                <ion-select-option *ngFor="let red of zak.rd_list" [value]="red.rd">{{red.date}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Второй</ion-label>
                <ion-select [interfaceOptions]="customOptions" interface="action-sheet" placeholder="Второй" [(ngModel)]="s">
                  <ion-select-option *ngFor="let red of zak.rd_list" [value]="red.rd">{{red.date}}</ion-select-option>
                </ion-select>
              </ion-item>
            <ion-button (click)="onDiff()">
              Сравнить
            </ion-button>
          </ion-list>

          <ion-item>
              <ion-text (click)="onConnections(zak.nd)">
                  Список связей
              </ion-text>
          </ion-item>
          <ion-item>
            <ion-text (click)="toggle = !toggle">
                У закона {{zak.rds}} редакций:
            </ion-text>
          </ion-item>
          <ion-list  [hidden]="!toggle"> 
              <ion-item (click)="onClick(zak.nd ,item.rd)" *ngFor="let item of zak.rd_list" lines="full">
                <ion-label>{{item.date}}</ion-label>
              </ion-item>
          </ion-list>
        </ion-list>
        
</ion-content>
