<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Список законов
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-searchbar placeholder="Поиск по списку..." (ionChange)="onSearchChange($event)" [debounce]="250" animated></ion-searchbar>

    <ion-virtual-scroll [items]="data">
      <ion-item *virtualItem="let zak">
        <ion-label text-wrap (click)="onClick(zak.nd)">
            <h3>{{zak.name}}</h3>
            <p>Количество редакций - {{zak.rds}}</p> 
        </ion-label>          
      </ion-item>
    </ion-virtual-scroll>
</ion-content>