<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button (click)="onBack(nd)" defaultHref="/zakinfo"></ion-back-button>
          </ion-buttons>
      <ion-title>Информация о связях</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content *ngIf="show">
    <ion-list-header>
      <ion-label>
        <h2>Внешние связи</h2>
      </ion-label>
    </ion-list-header>
      <ion-list > 
        <ion-item *ngFor="let item of info.ref" lines="full">
          <ion-label text-wrap>
            <h3>{{item.dop}}</h3>
            <p>{{item.zak}}</p>
            <p>{{item.name}}</p>
            <p>
                <ion-button (click)="postNewZak(item.nd)">
                    Добавить закон
                  </ion-button>
              <ion-button (click)="onPreview(item.nd)">
                Предпросмотр
              </ion-button>
            </p>
            
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list-header>
        <ion-label>
          <h2>Ссылаются</h2>
        </ion-label>
      </ion-list-header>
        <ion-list > 
          <ion-item *ngFor="let item of info.rvref" lines="full">
            <ion-label text-wrap>
              <h3>{{item.dop}}</h3>
              <p>{{item.zak}}</p>
              <p>{{item.name}}</p>
              <p>
                  <ion-button (click)="postNewZak(item.nd)">
                      Добавить закон
                    </ion-button>
                  <ion-button (click)="onPreview(item.nd)">
                    Предпросмотр
                  </ion-button>
                </p>
            </ion-label>
          </ion-item>
      </ion-list>

</ion-content>
