<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button (click)="onBack(nd)" defaultHref="/zakinfo"></ion-back-button>
        </ion-buttons>
    <ion-title>Сравнение редакций</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list *ngIf="show">
      <ion-text color="primary" (click)="toggle = !toggle">
          <h1>Список изменений</h1>
        </ion-text>
        <ion-list *ngFor="let item of data.diff_mas" lines="full" [hidden]="!toggle"> 
            <ion-item >
              <ion-label>{{item.stat}}</ion-label>
            </ion-item>
            <ion-text *ngFor="let elem of item.diff" lines="full"> 
                <ion-text *ngIf="elem[0]==0" >
                  {{elem[1]}}
                </ion-text>
                <ion-text *ngIf="elem[0]==-1" color="danger">
                  <s>{{elem[1]}}</s>  
                </ion-text>
                <ion-text *ngIf="elem[0]==1" color="success">
                    {{elem[1]}}
                </ion-text>
            </ion-text>
        </ion-list>
        <ion-text color="primary" (click)="toggle2 = !toggle2">
            <h1>Добавленные пункты и статьи</h1>
        </ion-text>
        <ion-list *ngFor="let item of data.new_stat" lines="full" [hidden]="!toggle2"> 
            <ion-item>
              <ion-label>{{item.stat}}</ion-label>
            </ion-item>
            <ion-text>
                {{item.text}}
            </ion-text>
        </ion-list>
  </ion-list>


  
</ion-content>
