<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Поиск
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none">
      <ion-icon name="search" slot="start"></ion-icon>
    <ion-label>Поиск закона</ion-label>    
  </ion-item>
  <ion-item lines="none">
    <ion-input type="search" [(ngModel)]="st" placeholder="Введите название закона"></ion-input>
  </ion-item>
  <ion-button (click)="onClick()">
    Найти
  </ion-button>
  <ion-list *ngIf="show">
    <ion-list-header>
      <ion-label>Найдено {{data.length}} результатов</ion-label>
    </ion-list-header>
      <ion-item *ngFor="let zak of data">
        <ion-label class="ion-text-wrap">
          <h3 >{{zak.zak}}</h3>
          <p>{{zak.name}}</p>
          <p>
              <ion-button (click)="postNewZak(zak.nd)">
                  Добавить закон
                </ion-button>
                <ion-button (click)="onPreview(zak.nd)">
                    Предпросмотр
                  </ion-button>
          </p> 
        </ion-label>     
           
        
      </ion-item>
  </ion-list>
  
  
  
</ion-content>
