<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button (click)="onBack()"></ion-back-button>
      </ion-buttons>
    <ion-title>Предпросмотр</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <pre>{{text}}</pre>
  </ion-text>
</ion-content>
